.idea
.tmp
.sass-cache

*.lnk
*.swp
*.swo
*.log
*.cab
*.msi
*.msm
*.msp
*.lnk
*.db
*.ini
*.DS_Store
*.keystore
*.icloud

.vscode/

temp/
bower_components/
node_modules/
platforms/
plugins/
www/lib/
css/
hooks/after_prepare/uglify.js
google-services.json
GoogleService-Info.plist
